h1{
    text-align: center;
    margin-top: -10px;
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(7, 57, 18);
}
p{
    font-style:  italic;
    margin-top: -20px;
    margin-left: 65px;
}
img{
    display: inline-block;
    border: 10px solid rgb(7, 57, 18);
}
body{
    background-color: rgb(246, 255, 245);
}
div{
    margin-left: 250px;
    margin-top: -200px;
}
#brown{
    color: rgb(7, 57, 18);
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: -270px;
}
